/* Fonts */

@import url("https://fonts.googleapis.com/css?family=Arapey:300,400,500,600,700|Barlow:300,400,500,600,700|Funnel+Sans:300,400,500,600,700|Geist+Mono:300,400,500,600,700|Heebo:300,400,500,600,700|Mako:300,400,500,600,700|Mukta+Vaani:300,400,500,600,700|Nanum+Myeongjo:300,400,500,600,700|Onest:300,400,500,600,700|Outfit:300,400,500,600,700|Plus+Jakarta+Sans:300,400,500,600,700|Pontano+Sans:300,400,500,600,700|Public+Sans:300,400,500,600,700|Questrial:300,400,500,600,700|Quicksand:300,400,500,600,700|Red+Hat+Display:300,400,500,600,700|Red+Hat+Mono:300,400,500,600,700|Roboto:300,400,500,600,700|Roboto+Mono:300,400,500,600,700|Taviraj:300,400,500,600,700&subset=latin");

@font-face {
  font-family: "Khand";
  src: url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a92a_5898eab71e3bac203435e88cf1062f5d_Khand.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a94f_2006235daa27cb5ddd10d490f1f4fbcc_Khand.eot")
      format("embedded-opentype"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a961_1f0aeb1a503282d8758cfc181d6269c9_Khand.woff")
      format("woff"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a9b4_fdcaccab974756a80a91a4a8a852e2cd_Khand.ttf")
      format("truetype");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fira Code";
  src: url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a921_221385d716706f31c367a0cfb7682495_%20Fira%20Code.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a962_41e44516d4f45629ce881c7fb3b41c46_%20Fira%20Code.woff")
      format("woff");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Emoji";
  src: url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a955_a82ba3d5a83357d3c1a6147f78c24a28_Noto%20Emoji.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a9b7_9209b6ce8d481ac83f5612566b6a6e98_Noto%20Emoji.ttf")
      format("truetype");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a956_229714453e4b409381a37ac0b595251d_Inter.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a9b2_f978b6daaad92e0612dff6865ab808dc_Inter.ttf")
      format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "General Sans";
  src: url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a9ab_232143f0c8c4f3b98f3b6b19e1db51f7_GeneralSans.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a957_8c84408c3f9eea591f96372c54c86971_GeneralSans.eot")
      format("embedded-opentype"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a95a_394e45e2c7e587a8b291a2bbd01f6ba9_GeneralSans.woff")
      format("woff"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a9aa_de13c63f169ae1e86451118961966aaf_GeneralSans.ttf")
      format("truetype");
  font-weight: 200 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Pacifico";
  src: url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a91f_744e7a6a2e9de2a138168b65f57234c1_pacifico-regular.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a929_494643600f37a43fdb976a82f86ee34d_pacifico-regular.eot")
      format("embedded-opentype"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a958_5f5aa297f5f09001b7b3512175df8d26_pacifico-regular.woff")
      format("woff"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a9b1_dfbab7fd936d78a5e7f7cc7e0c92e407_pacifico-regular.ttf")
      format("truetype"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a9b0_7cdd1bd4c9c17b0a885ce61f9f09ae90_pacifico-regular.svg")
      format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a994_e35ad68fbf0153ff44bc78d9ae335305_barlow-900.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a95d_8cd03e855fd724675a3072aa5c9a2fc5_barlow-900.woff")
      format("woff"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a9b3_ec07ad28cb273eae0288da18db479064_barlow-900.ttf")
      format("truetype"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a9b5_b9fa59f1f7077de17db0bf45760dc532_barlow-900.svg")
      format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alpino Variable";
  src: url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a995_61fdcdb2ab5bd35704465cd1faca1ee6_Alpino-Variable.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a959_37d10e0d2553551d50221b70bc0c7a8a_Alpino-Variable.eot")
      format("embedded-opentype"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a960_54ee935237ced9e178f7ef7fac7d1669_Alpino-Variable.woff")
      format("woff"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a9b6_fb5fc1e0e3b6d6681a50d6f983c07f51_Alpino-Variable.ttf")
      format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Logic Monoscript";
  src: url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a920_646b220ec97ab011d463cb4647943a42_logic-monoscript-medium.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a964_28152c06d5dc2d730fa188d772c47d44_logic-monoscript-medium.woff")
      format("woff"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a988_ae7e601f6752ef5b832e6f4029457aa7_logic-monoscript-medium.ttf")
      format("truetype"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a9a8_0c25b8532689c7ab30606e81945590dd_logic-monoscript-medium.otf")
      format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Logic Monoscript";
  src: url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a924_1514479e80041258649d105135361862_logic-monoscript-light.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a98f_fe12eed16708180466a0966988885512_logic-monoscript-light.woff")
      format("woff"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a98a_5c4ffe8613b500f9e9d66082586cf590_logic-monoscript-light.ttf")
      format("truetype"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a9ad_a5ae628a876df72fc92e342a05a338dd_logic-monoscript-light.otf")
      format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Logic Monoscript";
  src: url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a91d_c7a964dc0b9d4e647a7f89faa8675dcf_logic-monoscript-bold.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a985_969c10ca6f99078ec4435ca5c1e07b2f_logic-monoscript-bold.woff")
      format("woff"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a9af_3f04e8dd6d9e47d3c91c4f7d5d1bd6a9_logic-monoscript-bold.ttf")
      format("truetype"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a9a9_e0a33317bc17b0be6b9f414dfda4b66d_logic-monoscript-bold.otf")
      format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Logic Monoscript";
  src: url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a9ac_b2986a05db931949a097faf943136177_logic-monoscript-regular.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a95c_c598d4b215b7aa0f59004d740b854961_logic-monoscript-regular.woff")
      format("woff"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a963_9b8016c366e8498d8a2c70183a626891_logic-monoscript-regular.ttf")
      format("truetype"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a997_9bef815151920d8bc595629ae48d45d7_logic-monoscript-regular.otf")
      format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Logic Monoscript";
  src: url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a922_84171f8069016adce303effaf9cc34c6_logic-monoscript-black.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a98b_9e6c4a8a23e5881964ebb1638e509825_logic-monoscript-black.woff")
      format("woff"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a95f_e37a190c35ac747ba5da24319f1d51aa_logic-monoscript-black.ttf")
      format("truetype"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a9ae_e27a2859b510fb0e7bb3b537cf41937a_logic-monoscript-black.otf")
      format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Supreme";
  src: url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a923_b14ab24591d06d86cbe8d8e6dce3ee2a_Supreme-Variable.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a926_fae756a7dd7028e7e7f7594e3409eef7_Supreme-Regular.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a92b_85eabf9db24c4fbdea32ca1c3c9f0fdd_Supreme-Variable.eot")
      format("embedded-opentype"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a952_ecd3c8006bd6e1300d7efcfb93777cfe_Supreme-Regular.eot")
      format("embedded-opentype"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a95b_14330059a413a1a7e64cf7ddef17a16f_Supreme-Variable.woff")
      format("woff"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a98c_1be65fa0f63b9c16fdc5a57457c8c194_Supreme-Regular.woff")
      format("woff"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a989_5c932f9017fa43d06671f5c485f69c0e_Supreme-Variable.ttf")
      format("truetype"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a98e_5fa5658ff971a7880235acfcb1ef03c2_Supreme-Regular.ttf")
      format("truetype");
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Supreme";
  src: url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a925_e54928f3e833fb4576ca2404cc8d7539_Supreme-Thin.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a927_d26feffe7430d7e1f826a7b4ab8baf7d_Supreme-Thin.eot")
      format("embedded-opentype"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a95e_4aec071e2d6a596eb880d55fe6c0cce8_Supreme-Thin.woff")
      format("woff"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a990_3d597eb95b0d85926e75f130ccb983f0_Supreme-Thin.ttf")
      format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Supreme";
  src: url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a92c_df5e6606f2b966ab6d7897e1c9abb450_Supreme-Light.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a92e_afa59109f7f3bfee7e2f308c246d7df1_Supreme-Light.eot")
      format("embedded-opentype"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a98d_d5e72ac447521c91205ad26ce4d78536_Supreme-Light.woff")
      format("woff"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a992_967cb55aa39c4cc4a26744ae6eb181b4_Supreme-Light.ttf")
      format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Supreme";
  src: url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a928_9ab8d5f7753fca92547dd7eea68f2e97_Supreme-Extralight.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a92d_2916e27a00374b4766420a159187b4f6_Supreme-Extralight.eot")
      format("embedded-opentype"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a991_3ac447ed5a7a2a7e33c1b53791a1a614_Supreme-Extralight.woff")
      format("woff"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a993_cb57b1a17fbf6e8d5c52766530c28eda_Supreme-Extralight.ttf")
      format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Articulat Cf Extra";
  src: url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/69aa4518336040712a7cf3fb_articulat-cf-extra-light.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/69aa4518e303446a4a810540_articulat-cf-extra-light.woff")
      format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Articulat Cf";
  src: url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/69aa4518fe87ec6117bbc264_articulat-cf-normal.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/69aa45181a6d4d1b07b71577_articulat-cf-regular.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/69aa4518cdcb0b2cca6cbde6_articulat-cf-normal.woff")
      format("woff"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/69aa4518722f91ef8c6f7e5d_articulat-cf-regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Articulat Cf";
  src: url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/69aa451883f94d7fd4a99f6f_articulat-cf-light.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/69aa451893a5276868d921f9_articulat-cf-light.woff")
      format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Articulat Cf";
  src: url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/69aa45185df2eef85ccda171_articulat-cf-medium.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/69aa45189fe0797155104404_articulat-cf-medium.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Articulat Cf";
  src: url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/69aa4518b5997602bbbeb5fd_articulat-cf-thin.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/69aa45182ee59835f955059e_articulat-cf-thin.woff")
      format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Khand";
  src: url("https://cdn.prod.website-files.com/6994ad8d279287de73c3a891/6994ad8d279287de73c3a996_b928d34a1f70bd65003b6f91a8277e6b_khand-bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
